.registration {
    width: 300px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.registration button {
    background-color: #7DD42F;
    color: rgb(0, 0, 0);
}

.registration h1 {
    color: #7DD42F;
}