.main5 {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 420px;
    background: radial-gradient(
        100% 100% at 50% 0%,
       rgba(76, 80, 82, 0.1) 0%,
       rgba(95, 98, 101, 0.1) 100%);
}

.main5 h3 {
    color: #435766;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif; 
}

.main5__btn {
    width: 170px;
    height: 52px;
    background-color: #8DD83D;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
}

.main5__btnBlack {
   width: 235px;
   height: 52px;
   background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
   border-radius: 4px;
   border: none;
   color: white;
}